.homepage-container {
  padding: 0;
  margin: 20px;
  width: 100%;
}

.carousel .slick-slide {
  display: flex;
  justify-content: center;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 70vh;
  width: 60vw;
}

.carousel-image {
  height: 70vh;
  width: 60vw;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.carousel-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.carousel-controls {
  width: 60vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-controls button {
  background-color: #fff;
  border: none;
  font-size: 20px;
  margin: 0 10px;
}
